.navbar {
    background-color: #ffd6ff;; /* Set the background color of the navbar */
    padding: 10px 20px; /* Add padding to the navbar */
    margin: 10px;
    border-style: solid;
    border-width: 3px;
   
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    display: flex; /* Display the list items horizontally */
  }
  
  .nav-list li {
    margin: 0;
    padding: 0;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: #030303;
    font-weight: bold;
    margin-right: 10px; /* Add space between the navigation items */
   
  }
  
  .nav-list li a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  